.decision__dialog__header {
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
.decision__dialog__header__text {
  line-height: 35px;
  padding-bottom: 25px;
  padding-top: 10px;
  font-size: 28px;
}
.decision__dialog__content__message {
  padding-left: 15px;
  padding-right: 15px;
}
.decision__dialog__content__buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.decision__dialog__content__button {
  margin-left: 5px;
  margin-right: 5px;
}
.decision__dialog__content__button__delete {
  color: #ffffff;
  background: red;
}
.decision__dialog__content__button__update {
  color: #ffffff;
  background: #059334;
}
