.dialog__container {
  bottom: 0;
  left: 0;
  overflow-x: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1002;
}
.dialog__container--centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog__shade {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}
.dialog__content {
  background: #fff;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.1);
  height: auto;
  max-width: 850px;
  position: relative;
}
@media (min-width: 800px) {
  .dialog__content {
    margin: 60px auto;
  }
}
