<div id="header" sociHeaderscrolled>
  <div class="top-left">
    <div class="logo-button">
      <div class="logo" routerLink="" (click)="scrollToTop()">
        <div class="logo-icon">
          <img class="icon" [src]="logoImage">
        </div>
      </div>
    </div>
    <div class="sideNav-button" (click)="onClicked()">
      <mat-icon class="mat-icon">menu</mat-icon>
    </div>
  </div>
  <div class="header__right">
    <nav class="nav">
      <div class="nav-item" routerLink="/stories" routerLinkActive="active" (click)="scrollToTop()">
        Stories
      </div>
      <div class="nav-item" routerLink="/whatwedo" routerLinkActive="active" (click)="scrollToTop()">
        What We Do
      </div>
      <div class="nav-item" routerLink="/events" routerLinkActive="active" (click)="scrollToTop()">
        Events
      </div>
      <div class="nav-item" routerLink="/get-involved" routerLinkActive="active" (click)="scrollToTop()">
        Get Involved
      </div>
      <div *ngIf="authService.isAdmin(user)" class="nav-item" routerLink="/admin" routerLinkActive="active" (click)="scrollToTop()">
        Admin
      </div>
    </nav>
    <button mat-button class="donate__button" routerLink="/giving" (click)="scrollToTop()">
      <div class="donate__button__text">DONATE</div>
    </button>
    <div class="user__container">
      <div *ngIf="!user" class="nav-item" (click)="onSignInClicked()">SIGN IN</div>
      <img *ngIf="user" class="sign-out__button image__fade"  (click)="onSignOutClicked()" [src]="firebaseUser.photoURL" matTooltip="Sign Out {{firebaseUser.displayName}}">
    </div>
  </div>
</div>
<div id="spacer"></div>
