<div id="header" headerscrolled>
  <div class="top-left">
    <div class="logo-button">
      <div class="logo" routerLink="">
        <div class="logo-icon">
          <img class="icon" [src]="logoImage">
        </div>
        <div class="logo-title">Feature</div>
      </div>
    </div>
    <div class="sideNav-button" (click)="onClicked()">
      <md-icon class="md-icon">menu</md-icon>
    </div>
  </div>
  <nav class="nav">
    <div class="nav-item" routerLink="/first" routerLinkActive="active">
      First
    </div>
    <div class="nav-item" routerLink="/whatwedo" routerLinkActive="active">
      What We Do
    </div>
    <div class="nav-item" routerLink="/third" routerLinkActive="active">
      Third
    </div>
    <div class="nav-item" routerLink="/fourth" routerLinkActive="active">
      Fourth
    </div>
  </nav>
</div>
<div id="spacer"></div>
