<div id="header" headerscrolled>
  <div class="top-left">
    <div class="logo-button">
      <div class="logo" routerLink="" (click)="scrollToTop()">
        <div class="logo-icon">
          <img class="icon" [src]="logoImage">
        </div>
        <!--<div class="logo-title">Feature</div>-->
      </div>
    </div>
    <div class="sideNav-button" (click)="onClicked()">
      <md-icon class="md-icon">menu</md-icon>
    </div>
  </div>
  <nav class="nav">
    <div class="nav-item" routerLink="/stories" routerLinkActive="active" (click)="scrollToTop()">
      Stories
    </div>
    <div class="nav-item" routerLink="/whatwedo" routerLinkActive="active" (click)="scrollToTop()">
      What We Do
    </div>
    <div class="nav-item" routerLink="/events" routerLinkActive="active" (click)="scrollToTop()">
      Events
    </div>
    <div class="nav-item" routerLink="/fourth" routerLinkActive="active" (click)="scrollToTop()">
      Fourth
    </div>
  </nav>
</div>
<div id="spacer"></div>
