.footer {
  position: relative;
  display: flex;
  background-color: #FAFAFA;
  padding: 50px 80px;
}
.footer-button {
  height: 56px;
  width: 56px;
  top: -23px;
  right: 5%;
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  -webkit-transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
  transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
  z-index: 1;
}
.footer-button:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
.footer-content {
  width: 100%;
  color: #808080;
}
.soci-title {
  font-size: 40px;
}
.footer-links {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav {
  display: flex;
}
.nav-item {
  font-size: 14px;
  margin-right: 40px;
  cursor: pointer;
}
.icon {
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .footer {
    padding: 20px 20px;
  }
  .nav {
    flex-direction: column;
  }
  .nav-item {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .footer-links {
    flex-direction: column;
  }
  .icons {
    margin-top: 20px;
  }
}
