 <div class="soci-logo">
  <img class="logo" src="/assets/images/coat-of-arms.svg" alt="cayman islands coat of arms">
</div>
<div class="footer">
  <div *ngIf="isButtonVisible" class="footer-button" data-scroll aria-label="Back to top" (click)="onFooterButtonClicked()">
    <md-icon class="md-icon">keyboard_arrow_up</md-icon>
  </div>
  <div class="footer-content">
    <a href="http://www.specialolympics.org/">
      <img class="special-olympics-logo" src="/assets/images/speical-olympics-full-logo.svg" href="www.google.com" alt="Special Olympics Logo">
    </a>
    <div class="footer-links">
      <nav class="nav">
        <div class="nav-item" routerLink="/faq" routerLinkActive="active" (click)="onFooterLinkClicked()">
          FAQ
        </div>
      </nav>
      <div class="right">
        <div class="follow-us">
          <div class="text">FOLLOW US</div>
          <a href="https://www.youtube.com/channel/UCGf4e0_-yhTys8cpWycAfUw">
            <img class="icon" [src]="youtubeImage" alt="">
          </a>
          <a href="https://www.facebook.com/groups/119341734749391/">
            <img class="icon" [src]="facebookImage" alt="" >
          </a>
          <a href="https://www.instagram.com/specialolympicscayman/">
            <img class="icon" [src]="instagramImage" alt="">
          </a>
        </div>
        <div class="email-us">EMAIL US</div>
      </div>
    </div>
  </div>
</div>
