<div sociFilterSticky>
  <div #filterComponent class="filter__wrapper">
    <div class="filter__button__container">
      <div class="filter__button" (click)="onFilterButtonClicked()">
        <div class="filter__button__text">FILTER</div>
        <mat-icon class="filter__button__icon">
          <div>{{icon}}</div>
        </mat-icon>
      </div>
    </div>
    <div class="filter__content" [@slideInOut]="menuState">
      <div class="filter__content__container">
        <div class="filter__header">
          <div class="filter__header__results">FILTERS: ({{eventItemCount}} results)</div>
        </div>
        <div class="filter__sections">
          <div class="filter__section">
          <div class="filter__section__header">Type of Event</div>
            <div class="filter__section__item" *ngFor="let eventTypeToggle of eventTypeToggles">
              <mat-checkbox [(ngModel)]="eventTypeToggle.isActive" (change)="filterEventTypeCheckBoxes()"></mat-checkbox>
              <div class="filter__section__item__text" [style.backgroundColor]="eventTypeToggle.id | eventType:'color'">{{eventTypeToggle.id | eventType:'name'}}</div>
            </div>
          </div>
          <div class="filter__section">
          <div class="filter__section__header">Show Previous Events</div>
            <div class="filter__section__item">
              <mat-checkbox [(ngModel)]="isPreviousEventsChecked" (change)="filterFromTodaysDate('startDate', isPreviousEventsChecked)"></mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter__wrapper__spacer"></div>
</div>
