.menu__container {
  height: 100%;
}
.menu__container .active {
  background-color: rgba(0, 0, 0, 0.06);
  font-weight: bold;
  cursor: default;
}
.menu__new__button {
  margin: 10px;
  background: #4285f4;
  color: #ffffff;
}
.menu__item__event {
  color: green;
}
.menu__item__story {
  color: #4285f4;
}
.menu__new__button__text {
  display: none;
}
.mat-button {
  min-width: auto;
}
.menu__nav__item {
  justify-content: center;
  height: 40px;
  font-size: 14px;
  align-items: center;
  border-radius: 0 2px 2px 0;
  display: flex;
  cursor: pointer;
}
.menu__nav__item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.menu__nav__item__content {
  display: flex;
  align-items: center;
}
.menu__nav__item__icon {
  padding-left: 20px;
  padding-right: 20px;
}
.menu__nav__item__label {
  display: none;
}
@media (min-width: 800px) {
  .menu__container {
    margin-right: 24px;
    width: 200px;
  }
  .menu__new__button {
    width: 100px;
  }
  .menu__new__button__text {
    display: block;
  }
  .menu__new__button__icon {
    display: none;
  }
  .menu__nav__item {
    justify-content: initial;
  }
  .menu__nav__item__label {
    display: block;
  }
}
