<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">Corporate Sponsors</div>
        <div class="main__content__body">
          Corporations are invited to help make a difference in the lives of Special Olympics Cayman Island’s athletes and increase
          their level of social responsibility and community involvement while positively impacting their company’s bottom
          line. By partnering with Special Olympics, your company will be associated with one of the most established, recognized,
          respected and trusted brands in the world.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__body">
      <p>Special Olympics is truly a winning platform to promote your business worldwide, nationally, and right here in the
        Cayman Islands. A recent study has shown that 70 percent of the public feel more positive about companies that support
        Special Olympics as opposed to those that do not.</p>
      <p>However the true value of a sponsorship goes far beyond just marketing benefits. Special Olympics Cayman Islands provides
        a lifetime role for athletes and for the families raising a child with special needs. Your financial support will
        be seen on the softball fields, basketball courts and soccer fields–and it will be felt in the hearts and homes of
        those we serve forever.</p>
      <p>Each of our corporate relationships is individually structured to best meet the company’s objectives and Special Olympics
        Cayman Islands needs. These relationships combine cash donations, in-kind contributions and marketing support with
        the frequent addition of employee volunteer programs and other community-based opportunities. We have a variety of
        sponsorship packages available and would be happy to customize a package to fit your company’s marketing and charitable
        goals. If you would like to learn how you can become a corporate sponsor, please contact: (name and contact info
        for SOCI Corporate Sponsorship Representative)</p>
      <p>Special Olympics Cayman Islands is proud to partner with some of the finest companies and organizations in the islands.
        Please help us thank them by supporting our valued sponsors.</p>
    </div>
  </div>
</div>