<soci-dialog (close)="onEventCloseClicked()">
  <div class="event__container">
    <div class="event__close" (click)="onEventCloseClicked()">
      <md-icon class="">arrow_back</md-icon>
    </div>
    <div class="event__title__container" [ngClass]="eventsHelper.getTagClass(event.eventType)">
      <div class="event__title__text">{{event.title}}</div>
    </div>
    <div class="event__detail__container">
      <div class="event__detail__time">Wed. May 17, 12PM - 1PM</div>
      <div class="event__detail__location">{{event.location}}</div>
      <p class="event__detail__description">{{event.description}}</p>
    </div>
    <!-- <div class="event__fab"></div> -->
  </div>
</soci-dialog>
