<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">Events</div>
      </div>
    </div>
  </div>
</div>
<soci-filter (foo)="onFoo($event)" [eventItemCount]="filteredEventItems.length"></soci-filter>
<div class="schedule__grid">
  <mat-spinner class="schedule__grid__placeholder" *ngIf="isLoadingEvents"></mat-spinner>
  <div class="schedule__grid__section" *ngFor="let eventItem of filteredEventItems | groupByStartDate">
    <div class="schedule__grid__content">
      <div class="schedule__row__date">{{eventItem.date | dateFormat}}</div>
      <div class="schedule__row__events">
        <div class="schedule__row__event" *ngFor="let event of eventItem.events" (click)="onEventClicked(event)">
          <div class="schedule__row__event__detail">
            <div class="schedule__row__event__title">{{event.title}}</div>
            <div class="schedule__row__event__subtitle">{{event.startTime}} - {{event.endTime}}</div>
            <span class="schedule__row__event__tag" [ngClass]="eventsHelper.getTagClass(event.eventType)">{{event.eventType}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="schedule__grid__no-events" *ngIf="filteredEventItems.length === 0 && !isLoadingEvents">No Events</div>
</div>
<router-outlet></router-outlet>
