:host {
  background: #ffffff;
}
.schedule__grid {
  border-top: 1px solid #EDEDED;
}
.schedule__grid__placeholder {
  margin: 20px auto;
}
.schedule__grid__section {
  border-bottom: 1px solid #EDEDED;
}
.schedule__grid__section:last-child {
  border-bottom: none;
}
.schedule__row__date {
  background: #fafafa;
  font-size: 24px;
  padding: 14px 20px;
}
.schedule__row__events {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.schedule__row__event {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EDEDED;
  cursor: pointer;
}
.schedule__row__event__detail {
  padding: 20px;
  flex: 1;
}
.schedule__row__event__detail:hover {
  background: #fafafa;
}
.schedule__row__event:last-child {
  border-bottom: none;
}
.schedule__row__event__title {
  font-size: 18px;
}
.schedule__row__event__subtitle {
  font-size: 12px;
}
.schedule__row__event__tag {
  padding: 4px;
}
.schedule__grid__no-events {
  text-align: center;
}
@media (min-width: 800px) {
  .schedule__row__date {
    width: 85px;
    background: none;
    padding: 30px 30px 30px 0;
  }
  .schedule__row__events {
    border-left: 1px solid #EDEDED;
  }
  .schedule__row__event__detail {
    padding: 35px 60px;
  }
  .schedule__grid__content {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    padding-left: 20px;
    max-width: 1280px;
  }
  .filter__container {
    max-width: 1280px;
    margin: 0 auto;
  }
  .filter__button__text {
    display: block;
  }
}
