<soci-admin-menu></soci-admin-menu>
<div class="my-events__container">
  <div class="main__container">
    <div class="main__content">
      <div class="main__content__container">
        <div class="main__content__left">
          <div class="main__content__title">My Events</div>
        </div>
      </div>
    </div>
  </div>
  <div class="schedule__grid">
    <md-spinner class="schedule__grid__placeholder" *ngIf="eventsService.isLoadingEvents"></md-spinner>
    <div class="schedule__grid__section" *ngFor="let eventItem of eventsService.eventItems">
      <div class="schedule__grid__content">
        <div class="schedule__row__date">{{eventItem.date | dateFormat}}</div>
        <div class="schedule__row__events">
          <div class="schedule__row__event" *ngFor="let event of eventItem.events">
            <div class="schedule__row__event__detail" (click)="onEventClicked(event)" mdTooltip="Edit Event">
              <div class="schedule__row__event__title">{{event.title}}</div>
              <div class="schedule__row__event__subtitle">{{event.startTime}} - {{event.endTime}}</div>
              <span class="schedule__row__event__tag" [ngClass]="eventsHelper.getTagClass(event.eventType)">{{event.eventType}}</span>
            </div>
            <button md-button (click)="onDeleteClicked(event)"><md-icon>delete_forever</md-icon></button>
          </div>
        </div>
      </div>
    </div>
    <div class="schedule__grid__no-events" *ngIf="eventsService.eventItems.length === 0 && !eventsService.isLoadingEvents">No Events</div>
  </div>
  <soci-dialog *ngIf="isDeleteDialogOpen" [isDialogCentered]="true">
    <div class="decision__dialog__container">
      <div class="decision__dialog__header">
        <div class="decision__dialog__header__text">Confirm</div>
      </div>
      <div class="decision__dialog__content">
        <div class="decision__dialog__content__message">Are you sure you want to delete this event?</div>
        <div class="decision__dialog__content__buttons">
          <button class="decision__dialog__content__button" md-button (click)="onDeleteCancelClicked()">Cancel</button>
          <button class="decision__dialog__content__button decision__dialog__content__button__delete" md-button (click)="onDeleteConfirmClicked()">Delete</button>
        </div>
      </div>
    </div>
  </soci-dialog>
</div>
