<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">Athlete Leadership</div>
        <div class="main__content__body">
          Through sports training and competitions, Special Olympics helps people with intellectual disabilities (ID) achieve joy,
          acceptance and success. They gain the confidence that comes with achievement. They feel empowered. Athletes lead
          the way as the voices of the movement, educating the world about the potential of people with ID and driving the
          Special Olympics movement forward with their insights and contributions.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="belt">
  <div class="belt__image image__fade" style="background-image: url('/assets/images/athlete-leadership/international.jpg')"></div>
  <aside class="belt__callout belt--yellow">
    <div class="belt__callout__body">Special Olympics Athlete Leadership Program empowers athletes to explore opportunities for greater participation in our
      movement beyond sports training and competition: as coaches, officials, spokespeople, and Board and committee members.
      Athlete leaders are an integral part of the Special Olympics Movement and help Special Olympics leaders stay in touch
      with athletes' interests. This way we can ensure that our programs remain vital and attractive to the people we serve.</div>
  </aside>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__body">
      <p>Special Olympics Athlete Leadership allow athletes to explore opportunities in roles previously considered “non-traditional.”
        Such participation might come in the form of an athlete serving on the Board of Directors or local organizing committee;
        or it might find an athlete as a spokesperson, team captain, coach or official. Participation in Athlete Leadership
        may be in addition to or in place of participation in traditional athlete roles.</p>
      <div>A program or initiative could be considered an Athlete Leadership Program if it:</div>
      <ul>
        <li>Allows athletes to choose how they will participate (i.e., selecting their sport or deciding to become a coach).</li>
        <li>Encourages athletes to serve in meaningful leadership roles other than or in addition to that of “competitor”.</li>
        <li>Provides training for existing leadership as they welcome and encourage athletes in these new roles.</li>
      </ul>
    </div>
  </div>
</div>