<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">Competitions</div>
        <div class="main__content__body">
          The heart of Special Olympics is competitions, the races, matches, tournaments and games for people with intellectual disabilities.
          In many ways, these competitions are like sports run by any other organization, but there are some key differences.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="belt">
  <div class="belt__image image__fade" style="background-image: url('/assets/images/competitions/triathlon.jpg')"></div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__title">Competitions Are the Core</div>
    <div class="statement__content__body">
      <p>Special Olympics combines intense competition at all levels of age and ability with close attention to rules and protocol.
        Special Olympics had more than 53,000 competitions in 2011. Not practices, but competitions in one or more of our
        32 sports, many dozens a day on average.</p>
      <p>Each competition represents many hours of training and practice by our athletes. Special Olympics ensures competitions
        are conducted in a safe, quality and dignified manner. As a result, athletes, coaches, families, officials, sponsors
        and the community are able to be part of Special Olympics competitions and be confident that a high standard of competition
        will be provided. Special Olympics also promotes the spirit of fair play, integrity and sportsmanship throughout
        all competitions.</p>
    </div>
  </div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__title">Divisioning: Competitions with a Difference</div>
    <div class="statement__content__body">
      <p>Special Olympics sports competitions are based on the idea that athletes of all abilities should be given an equal
        chance of succeeding, whether it is a personal best or a gold medal.</p>
      <p>Special Olympics calls this competition-level matching “divisioning.” It’s a fundamental rule at Special Olympics that
        athletes in competitions are matched up with others of the same gender, about the same age and most importantly,
        of about the same competitive ability.</p>
      <p>Evening out by skill level and matching for age and gender makes Special Olympics events more exciting and meaningful
        for the athletes and the fans watching.</p>
      <p>Divisioning is a two-stage process. Before each competition, a time, score or skill assessment is submitted for each
        athlete or team. For events that are not timed or measured, such as football and badminton, there is a series of
        short games between athletes or teams or an assessment of each athlete or team’s ability by a committee.. The divisions
        are then set up based on the information on each athlete’s skill level so that each set of competitors is closely
        matched.
      </p>
    </div>
  </div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__title">Results: Beyond Gold</div>
    <div class="statement__content__body">
      <p>After the competions in each sport event division, there’s a medal ceremony, a dignified, meaningful celebration of
        their athletic accomplishments.</p>
      <p>First place finishers receive gold medals, second gets silver and third gets bronze, Award ribbons of various colors
        are presented for finishers in 4th to 8th place. Athletes who are disqualified for sport technical violations (it
        happens!) or do not finish the event are awarded a participation ribbon.</p>
    </div>
  </div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__title">Schedules</div>
    <div class="statement__content__body">
      <p>Each Special Olympics Program around the world plans out its events for the year. Special Olympics sports are divided
        between summer and winter events. Considering that there are Special Olympics offices in 170 countries, athletes
        in Australia might be doing swimming events while athletes in Poland are skiing.</p>
      <p>Seasons are usually 10 weeks long, and start with weekly or twice-weekly practices. Competitions might be one-on-one
        team matchups or tournaments.</p>
    </div>
  </div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__title">Competitions Depend on Volunteers</div>
    <div class="statement__content__body">
      <p>Volunteers are vital to the success of a Special Olympics competition. Conducting a successful Special Olympics competition
        is a challenge that takes dedication and a lot of hard work. However, the results can be one of the most satisfying
        experiences in sports.</p>
      <p>As much as possible, Special Olympics local competitions are run by and involve local volunteers. This makes Special
        Olympics a community activity that allows more people with intellectual disabilities to take part, but also to create
        opportunities for volunteers to get to know and appreciate people with intellectual disabilities. </p>
    </div>
  </div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__title">Coaches and Officials</div>
    <div class="statement__content__body">
      <p>Special Olympics provides detailed, in-depth coaching guides for its volunteer coaches. The coaches are a powerful
        and influential presence in the sporting lives of the athletes.</p>
      <p>Volunteer sports officials (i.e. referees, judges, umpires) play a key role in Special Olympics competitions by ensuring
        by- the- book attention to the rules, which is necessary to preserve the integrity of the sport and fair competition
        for the athletes. Many competition officials are certified by the respective sport federation, either on a national
        or international basis. They are active in the sport, possess a comprehensive knowledge of sports specific rules,
        procedures and mechanics, thereby demonstrating and exemplifying high standard of officiating. There is always a
        need to get more officials involved with Special Olympics. </p>
    </div>
  </div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__title">Sports Rules</div>
    <div class="statement__content__body">
      <p>Special Olympics sports competitions operate in accordance with rules established by the International Federations
        (“IF’s”) or National Governing Bodies (“NGB's”) of each sport. The Official Special Olympics Sports Rules are intended
        to modify, where necessary, IF or NGB rules. In cases where IF or NGB rules are in conflict with the Official Special
        Olympics Sports Rules, the Official Special Olympics Sports Rules shall apply. Each Accredited Program or Games Organizing
        Committee is required to state the governing body rules that will serve as the reference point for each sport offered.
        At Special Olympics Regional and World Games, the International Federation rules shall be used.</p>
    </div>
  </div>
</div>