:host {
    background: #ffffff;
}

.left-padding{
  padding-left: 250px !important;
}

.white-text{
  color: #ffffff !important;
}

.title-container {
    padding: 120px 60px;
}

.title-content {
    max-width: 600px;
    .heading {
        font-size: 50px;
        margin: 30px 0;
    }
    .body {
        font-size: 18px;
        line-height: 35px;
    }
}

.first-container {
    position: relative;
    .shape {
        top: 255px;
        left: 900px;
        position: absolute;
        width: 600px;
        background-color: #059334;
        padding: 60px;
    }
    .shape-heading {
        margin: 20px 0;
        font-size: 30px;
    }
    .shape-body {
        font-size: 16px;
        line-height: 35px;
    }
}

.body-container {
    padding: 120px 60px;
}

.body-content {
    max-width: 600px;
    .heading {
        font-size: 40px;
        margin: 30px 0;
    }
    .body {
        font-size: 16px;
        line-height: 35px;
    }
}

.real-sports-container{
  background-color: #f9d050;
  padding: 120px 60px;
  .body-content{
    max-width: initial;
  }
}

.healthier-athletes-container {
    position: relative;
    .shape {
        bottom: -100px;
        left: 850px;
        position: absolute;
        width: 600px;
        background-color: #0b50a0;
        padding: 60px;
    }
    .shape-heading {
        margin: 20px 0;
        font-size: 30px;
    }
    .shape-body {
        font-size: 16px;
        line-height: 35px;
    }
}
