<div class="main__container">
  <img class="main__logo" src="/assets/images/special-olympics-logo.svg" alt="Special Olympics Logo">
  <div class="main__content">
    <div class="main__title">What We Do</div>
    <div class="main__body">Special Olympics transforms lives through the joy of sport, every day, everywhere. We are the world’s largest sports
      organization for people with intellectual disabilities: with more than 4.7 million athletes in 169 countries -- and
      over a million volunteers.</div>
  </div>
</div>
<div class="belt belt--green">
  <div class="belt__image" style="background-image: url('/assets/images/whatwedo1.jpg')"></div>
  <aside class="belt__callout">
    <div class="belt__callout__title">About Us</div>
    <div class="belt__callout__body">Through the power of sports, people with intellectual disabilities discover new strengths and abilities, skills and success.
      Our athletes find joy, confidence and fulfillment -- on the playing field and in life. They also inspire people in
      their communities and elsewhere to open their hearts to a wider world of human talents and potential.</div>
  </aside>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__title">Changing Attitudes</div>
    <div class="statement__body">
      <p>Special Olympics is the leading voice in raising awareness about the abilities of people with intellectual disabilities.</p>
      <p>
        Through sports, we showcase the skills and dignity of our athletes. We also bring together communities to see and take part
        in the transformative power of sports. We know the odds our athletes must overcome and the barriers they face every
        single day. We see this at training events and competitions as our athletes push to beat their personal bests --
        and exceed them. Their stories and successes inspire us all.</p>
      <p>We believe in a world where there are millions of different abilities but not disabilities. And we're spreading this
        message everywhere - at big Special Olympics events and small ones.
      </p>
    </div>
  </div>
</div>
<div class="tarp__container tarp--yellow">
  <div class="tarp__content">
    <div class="tarp__title">Real Sports</div>
    <div class="tarp__body">
      <p>Sports are a powerful force. Sports can shift the focus from disability to ability, from isolation to involvement.
        We offer the highest quality Olympic-style sports training and competition for people with intellectual disabilities
        all around the world. This changes attitudes and changes lives. </p>
      <p>The transformative power of sports to instill confidence, improve health and inspire a sense of competition is at the
        core of what Special Olympics does. From the detailed coaching guides we provide in many languages to the sharp-eyed
        officials at our international games, the focus is on real sports, real competition, real achievements. </p>
      <p>Since 1968, Special Olympics has been spreading the message: people with intellectual disabilities can – and will –
        succeed when given the opportunity. And it all happens through the simple power of sport. At Special Olympics, we
        believe that sports can teach us all important lessons. When we train and strive for a goal, it teaches us to dream.
        When we struggle, it teaches us determination. When we win, we find joy. And if we lose, we can find the strength
        to try again. </p>
      <p>Our sports events bring together a large and inclusive community of athletes, supporters and families, coaches, volunteers
        and many others. The athletes are at the center of it all -- to the shared joy of themselves, their families and
        their communities. These events help us all rediscover the purity of sports -- and real athletic pursuits -- based
        on true Olympic ideals.</p>
    </div>
  </div>
</div>
<div class="belt belt--blue">
  <div class="belt__image" style="background-image: url('/assets/images/whatwedo2.jpg')"></div>
  <aside class="belt__callout">
    <div class="belt__callout__title">Healthier Athletes</div>
    <div class="belt__callout__body">
      <p>Special Olympics is also the world's largest public health organization for people with intellectual disabilities.
        Many of our athletes come to us with neglected health problems. At World Games and other events, we offer a wide
        range of free health exams and care.</p>
      <p>Our goal is to bring better fitness, nutrition and healthier lifestyles to everyone involved in Special Olympics --
        from athletes and their families, to coaches and volunteers.</p>
    </div>
  </aside>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__title">Athlete Leaderships</div>
    <div class="statement__body">
      <p>Through sports training and competitions, Special Olympics helps people with intellectual disabilities achieve joy,
        acceptance and success. They gain the confidence that comes with achievement. They feel empowered. Our Athlete Leadership
        programs can take athletes even farther -- as leaders and spokespeople respected in their communities. </p>
      <p>
        Our athletes can become mentors for other athletes. They can train to become coaches and officials. They can also move toward
        a more public role as a speaker or spokesperson, telling audiences and journalists about the remarkable changes that
        Special Olympics helped bring to their lives.
      </p>
      <p>Many athletes choose to undergo training to learn presentation skills so they can help spread the message of Special
        Olympics to the general public. Some are selected by the Board of Directors to serve as Sargent Shriver International
        Global Messengers. Athlete Leadership trainings are offered in 67 countries and are initiated at the grass-roots
        level. Many athletes are trained to engage in policy discussions and to articulate their opinions to community and
        government leaders.
      </p>
    </div>
  </div>
</div>
