<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">Unified Sports</div>
        <div class="main__content__body">
          Team sports bring people together. Special Olympics Unified Sports® teams do that, too and much more. About 1.4 million people
          worldwide take part in Unified Sports, breaking down stereotypes about people with intellectual disabilities in
          a really fun way. ESPN has served as the Global Presenting Sponsor of Special Olympics Unified Sports since 2013,
          supporting the growth and expansion of this program that empowers individuals with and without intellectual disabilities
          to engage through the power of sports.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="belt">
  <div class="belt__image image__fade" style="background-image: url('/assets/images/unified-sports/basketball.jpg')"></div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__title">Promoting Social Inclusion Through Sport</div>
    <div class="statement__content__body">
      <p>Special Olympics is dedicated to promoting social inclusion through shared sports training and competition experiences.
        Unified Sports joins people with and without intellectual disabilities on the same team. It was inspired by a simple
        principle: training together and playing together is a quick path to friendship and understanding.</p>
      <p>In Unified Sports, teams are made up of people of similar age and ability. That makes practices more fun and games
        more challenging and exciting for all. Having sport in common is just one more way that preconceptions and false
        ideas are swept away.</p>
    </div>
  </div>
</div>
<div class="belt">
  <div class="belt__image image__fade" style="background-image: url('/assets/images/unified-sports/all-star-soccer.jpg')"></div>
</div>
<div class="tarp__container tarp--yellow">
  <div class="tarp__content">
    <div class="tarp__content__title">Mission: Inclusion</div>
    <div class="tarp__content__body">
      <p>As part of the Special Olympics- Lions Clubs International “Mission: Inclusion” partnership, the LCI youth network-Leos-
        have become a strong global partner in expanding and implementing Unified Sports together with Special Olympics.
        The Leos have helped both start, and sustain, Unified Sports in a number of nations worldwide, and serve as one of
        the movement’s strongest youth leadership networks in bringing inclusive programming to communities across the world.
        From Brazil to Zimbabwe and from California to India, the Leos continue to amplify the voice of athletes, and embody
        the creed: “Play Unified. Live Unified.”</p>
    </div>
  </div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__title">Major sports organization, league and event support to Play Unified</div>
    <div class="statement__content__body">
      <div>Many high-profile, professional sports organizations and events have also showcased Unified Sports as a vehicle to
        show the power of inclusive sports! This support includes:</div>
      <ul>
        <li>National Basketball Association (NBA)</li>
        <li>Major League Soccer (MLS)</li>
        <li>Union of European Football Associations (UEFA)</li>
        <li>National Collegiate Athletic Association, D-III</li>
        <li>ESPN's X Games Aspen</li>
        <li>National Federation of High Schools (NFHS)</li>
        <li>National Intramural-Recreational Sports Association (NIRSA)</li>
      </ul>
    </div>
  </div>
</div>