<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">Sports Disciplines</div>
        <div class="main__content__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a felis eleifend, faucibus nisi at, pretium nulla. Phasellus
          eu felis orci. Suspendisse lorem augue, malesuada sollicitudin laoreet eu, consequat in libero. Nulla faucibus
          libero in nibh imperdiet, ac tincidunt lectus ultricies. Quisque dapibus lacus enim, in suscipit risus mattis non.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="belt">
  <div class="belt__image image__fade" style="background-image: url('/assets/images/athletics/race.png')"></div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <img class="statement__content__logo image__fade" src="/assets/images/athletics/logo.svg" alt="">
    <div class="statement__content__title">Athletics</div>
    <div class="statement__content__body">
      <p>The sport of athletics encourages athletes of all abilities and ages to compete at their optimum level. Through the
        track-and-field-based athletics training program, participants can develop total fitness to compete in any sport.
        As with all Special Olympics sports, athletics offers athletes the opportunity to learn through skill development
        and competitive settings and to be involved in large social settings.</p>
    </div>
  </div>
</div>
<div class="belt">
  <div class="belt__image image__fade" style="background-image: url('/assets/images/athletics/track.jpg')"></div>
  <aside class="belt__callout belt--yellow">
    <div class="belt__callout__body">
      Athletes can compete in running events from the 100M dash to the 3000M run or relays. Some athletes also compete in field
      events such as the high jump, shot put, long jump and softball throw. Athletes of lower ability can participate in
      walking and throwing events and physically disabled athletes compete in wheelchair events.
    </div>
  </aside>
</div>
<div class="tarp__container tarp--blue">
  <div class="tarp__content">
    <div class="tarp__content__body">
      Athletics is offered in every local program in the world representing over 140 countries and is the largest sport. Athletes
      are grouped in divisions according to their ability level, age and gender.
    </div>
  </div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__title">Athletics Events</div>
    <div class="statement__content__body">
      <div>Track events include:</div>
      <ul>
        <li>50, 100, 200, 400, 800, 1500, 3000 Meter Run</li>
        <li>25, 100, 200, 400, 800, 1500 Meter Walk</li>
        <li>4x100, 4x200, 4x400 Meter Relay (running)</li>
        <li>4x100 Meter Unified Relay (running)</li>
        <li>4x100 Meter Walking Relay</li>
        <li>4x100 Meter Unified Walking Relay</li>
      </ul>
      <div>Field events include:</div>
      <ul>
        <li>High Jump</li>
        <li>Long Jump</li>
        <li>Running Long Jump</li>
        <li>Standing Long Jump</li>
        <li>Shot Put</li>
        <li>Mini Javelin</li>
        <li>Softball Throw</li>
      </ul>
      <div>Multi-Event includes:</div>
      <ul>
        <li>Pentathlon (100 Meters, Long Jump, Shot Put, High Jump, 400 Meters)</li>
      </ul>
      <div>Wheelchair events include:</div>
      <ul>
        <li>25, 100, 200 Meter Wheelchair</li>
        <li>30 Meter Slalom Wheelchair</li>
        <li>30, 50 Meter Slalom Motor Wheelchair</li>
        <li>25 Meter Obstacle Motor Wheelchair</li>
        <li>Wheelchair Shot put</li>
      </ul>
      <div>The following events provide meaningful competition for athletes with lower ability levels:</div>
      <ul>
        <li>10 Meter Assisted Walk</li>
        <li>25 Meter Assisted Walk & Dash</li>
        <li>50 Meter Assisted Walk & Dash</li>
        <li>Softball and Tennis Ball Throw</li>
        <li>Standing Long Jump</li>
      </ul>
    </div>
  </div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <img class="statement__content__logo image__fade" src="/assets/images/sports/basketball-logo.svg" alt="">
    <div class="statement__content__title">Basketball</div>
    <div class="statement__content__body">
      <p>Basketball “bounced” its way into competition at the 1968 Special Olympics World Games and has grown to include over
        69,000 athletes from the US Program and 40 countries. As one of the world’s most popular sports, basketball is a
        favourite among athletes. Special Olympics basketball teaches teamwork and skills of the game.</p>
    </div>
  </div>
</div>
<div class="belt">
  <div class="belt__image image__fade" style="background-image: url('/assets/images/sports/basketball.jpg')"></div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__body">
      <p>Basketball is one of the top sports at Special Olympics. Players take it up at all ages and at all abilities, from
        young players learning to handle the ball and keep it under control while dribbling to older, more experienced players
        who have the moves and know the strategies to play challenging ball.</p>
      <p>It's also one of the favorite sports for the Special Olympics Unified Sports initiative, when players with and without
        intellectual disabilities form teams to play other unified teams. It's a learning experience that's also a lot of
        fun.
      </p>
    </div>
  </div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <img class="statement__content__logo image__fade" src="/assets/images/sports/bocce-logo.svg" alt="">
    <div class="statement__content__title">Bocce</div>
    <div class="statement__content__body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a felis eleifend, faucibus nisi at, pretium nulla. Phasellus
        eu felis orci. Suspendisse lorem augue, malesuada sollicitudin laoreet eu, consequat in libero. Nulla faucibus libero
        in nibh imperdiet, ac tincidunt lectus ultricies. Quisque dapibus lacus enim, in suscipit risus mattis non. Nam sed
        nisl ornare, congue sapien a, consectetur est. Sed auctor libero nisi, quis consectetur sem egestas non. Integer
        vitae vulputate orci, nec ullamcorper leo. Sed iaculis mauris urna, et suscipit elit scelerisque eget. In vel diam
        maximus, porttitor nulla et, venenatis diam.</p>
    </div>
  </div>
</div>