<div class="details">
  <div class="details-container">
    <img class="details-logo" routerLink="/" [src]="specialOlympoicsLogo" alt="Special Olympics Logo"  (click)="closeSideNav()">
    <div class="details-text">Cayman Islands</div>
  </div>
</div>
<div class="navigation">
  <nav class="nav">
    <div class="nav-item" routerLink="/stories" routerLinkActive="active" (click)="closeSideNav()">
      Stories
    </div>
    <div class="nav-item" routerLink="/whatwedo" routerLinkActive="active" (click)="closeSideNav()">
      What We Do
    </div>
    <div class="nav-item" routerLink="/gallery" routerLinkActive="active" (click)="closeSideNav()">
      Gallery
    </div>
    <div class="nav-item" routerLink="/fourth" routerLinkActive="active" (click)="closeSideNav()">
      Fourth
    </div>
  </nav>
</div>
