<soci-dialog>
  <div class="donate-detail__container">
    <div class="donate-detail__header">
      <mat-icon class="donate-detail__header__close" routerLink="/giving/donations">clear</mat-icon>
      <div class="donate-detail__header__text">Donate to SOCI</div>
    </div>
    <div class="statement__container donate-detail__statement">
      <div class="statement__content">
        <div class="statement__content__title">Three ways to make your donation:</div>
        <div class="statement__content__body">
          <ol>
            <li>Call 345-123-4567 and make secure donation via credit card.</li>
            <li>Mail your donation payable to Special Olympics Cayman Islands to us at 123 South Church Street, George Town,
              Cayman Islands KY1-1104.</li>
            <li>You can make an online donation via [add links or text here]. Thank you for your generosity and kindness!</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="actions__container">
      <button mat-button class="actions__done__button" routerLink="/giving/donations">
        <div class="actions__done__button__text">Done</div>
      </button>
    </div>
  </div>
</soci-dialog>
<!-- add button at bottom 'done' -->