<div class="header" headerscrolled>
  <div class="top-left">
    <div class="logo-button">
      <div class="logo" routerLink="/feature">
        <div class="logo-icon">
          <img class="icon" [src]="logoImage">
        </div>
        <div class="logo-title">Feature</div>
      </div>
    </div>
    <div class="sideNav-button" (click)="onClicked()">
      <md-icon class="md-icon">menu</md-icon>
    </div>
  </div>
  <nav class="nav">
    <div class="nav-item" routerLink="/feature/first" routerLinkActive="active">
      First
    </div>
    <div class="nav-item" routerLink="/feature/second" routerLinkActive="active">
      Second
    </div>
    <div class="nav-item" routerLink="/feature/third" routerLinkActive="active">
      Third
    </div>
    <div class="nav-item" routerLink="/feature/fourth" routerLinkActive="active">
      Fourth
    </div>
  </nav>
</div>
