<div class="giving__container">
  <div class="belt">
    <div class="belt__image image__fade" style="background-image: url('/assets/images/giving.jpg')"></div>
  </div>
    <div class="main__container">
    <div class="main__content">
      <div class="main__content__container">
        <div class="main__content__left">
          <div class="main__content__title">Giving</div>
        </div>
      </div>
    </div>
  </div>
  <soci-menu [menuNavItems]="menuNavItems"></soci-menu>
  <div class="temp-filler">
    <router-outlet></router-outlet>
  </div>
</div>