<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">What We Do</div>
        <div class="main__content__body">Special Olympics transforms lives through the joy of sport, every day, everywhere. We are the world’s largest sports
          organization for people with intellectual disabilities: with more than 4.7 million athletes in 169 countries --
          and over a million volunteers.</div>
      </div>
      <img class="main__content__logo image__fade" src="/assets/images/special-olympics-logo.svg" alt="Special Olympics Logo">
    </div>
  </div>
</div>
<soci-menu [menuNavItems]="menuNavItems"></soci-menu>
<div class="temp-filler">
  <router-outlet></router-outlet>
</div>
