<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">Language Guidelines</div>
        <div class="main__content__body">The following language guidelines have been developed by experts in the field of intellectual disabilities for use
          by anyone writing or speaking about persons with mental retardation or closely related developmental disabilities,
          to ensure that all people are portrayed with individuality and dignity.</div>
      </div>
    </div>
  </div>
</div>
<div class="section__container">
  <div class="statement">
    <div class="statement__title">Appropriate Terminology</div>
    <div class="statement__list__heading">Use the following correct terminology:</div>
      <ul>
        <li>A person has intellectual disabilities, rather than is suffering from, afflicted with, or a victim of mental retardation.
          It is preferred terminology not to write or say that a person is mentally retarded.</li>
        <li>Down Syndrome has replaced Down’s Syndrome and mongoloid. </li>
        <li>Physically challenged or disabled rather than crippled.</li>
        <li>Someone who is partially sighted is visually impaired rather than blind.</li>
        <li>A person has a seizure rather than a fit.</li>
        <li>A person has a seizure disorder or epilepsy, rather than is epileptic.</li>
        <li>Distinguish between adults and children with intellectual disabilities, and older or younger athletes.</li>
        <li>Refer to people in Special Olympics as athletes. The word athletes should not appear in quotation marks.</li>
        <li>When writing, refer to persons with a disability in the same style as person without a disability: full name on first
          reference and last name on subsequent references. </li>
        <li>A person uses a wheelchair rather than is confined or restricted to a wheelchair.</li>
      </ul>
    <div class="statement__list__heading">Do not use the following terminology:</div>
    <ul>
      <li>Do not use the word kids when referring to Special Olympics athletes. Adult athletes are an integral part of the program.
      </li>
      <li>Do not use the adjective unfortunate when talking about persons with intellectual disabilities.
      </li>
      <li>Do not use the word “the” in front of Special Olympics unless describing a specific Special Olympics event.
      </li>
      <li>Do not sensationalize the accomplishments of people with a disability. While these accomplishments should be recognized
        and applauded, people in the disability rights movement have tried to make the public aware of the negative impact
        of referring to the achievements of physically or mentally challenged people with excessive hyperbole. Do not overuse
        the word special when referring to persons with intellectual disabilities. Their accomplishments should not be trivialized
        by using cute words to describe their efforts. </li>
      <li>According to Special Olympics Inc.’s charter with the International Olympic Committee, we are not to use the term Olympian.
        This means that we must not refer to the athletes as Special Olympians, but rather as Special Olympics athletes.
      </li>
    </ul>
    <p>For more information, contact 'insert name here' 'insert email here' 'insert phone here' </p>
  </div>
</div>