<div class="soci-menu--mobile" sociMenuSticky>
  <div class="get-involved__menu__container">
    <div class="get-involved__menu__menu-trigger">
      <div class="get-involved__menu__menu-trigger__text" [matMenuTriggerFor]="menu">Menu</div>
      <mat-icon class="get-involved__menu__menu-trigger__icon">arrow_drop_down</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button *ngFor="let navItem of menuNavItems" mat-menu-item (click)="navigate(navItem.routerLink)">{{navItem.label}}</button>
    </mat-menu>
  </div>
  <div class="get-involved__menu__container__spacer"></div>
</div>