<div class="belt">
    <div class="belt__image image__fade" style="background-image: url('/assets/images/whatwedo1.jpg')"></div>
    <aside class="belt__callout belt--green">
      <div class="belt__callout__title">
        Lorem ipsum</div>
      <div class="belt__callout__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ornare luctus. Sed at mi placerat, efficitur
        mi sit amet, molestie dui. Suspendisse sed laoreet odio, sit amet gravida nunc. Duis semper, nisl in lobortis eleifend,
        metus nunc consequat enim, ut elementum elit diam sed augue.</div>
    </aside>
  </div>
  <div class="statement__container">
    <div class="statement__content">
      <div class="statement__content__title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
      <div class="statement__content__body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ornare luctus. Sed at mi placerat, efficitur mi
          sit amet, molestie dui. Suspendisse sed laoreet odio, sit amet gravida nunc. Duis semper, nisl in lobortis eleifend,
          metus nunc consequat enim, ut elementum elit diam sed augue. Nunc sed dui semper, convallis velit ac, scelerisque
          leo. Mauris semper neque et cursus blandit. Nunc luctus arcu ligula, a semper quam porttitor eget.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ornare luctus. Sed at mi placerat, efficitur
          mi sit amet, molestie dui. Suspendisse sed laoreet odio, sit amet gravida nunc. Duis semper, nisl in lobortis eleifend,
          metus nunc consequat enim, ut elementum elit diam sed augue. Nunc sed dui semper, convallis velit ac, scelerisque
          leo. Mauris semper neque et cursus blandit. Nunc luctus arcu ligula, a semper quam porttitor eget.
        </p>
      </div>
    </div>
  </div>
  <div class="tarp__container tarp--yellow">
    <div class="tarp__content">
      <div class="tarp__content__title">
        Lorem ipsum dolor sit amet</div>
      <div class="tarp__content__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ornare luctus. Sed at mi placerat, efficitur
          mi sit amet, molestie dui. Suspendisse sed laoreet odio, sit amet gravida nunc. Duis semper, nisl in lobortis eleifend,
          metus nunc consequat enim, ut elementum elit diam sed augue. Nunc sed dui semper, convallis velit ac, scelerisque
          leo. Mauris semper neque et cursus blandit. Nunc luctus arcu ligula, a semper quam porttitor eget.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ornare luctus. Sed at mi placerat, efficitur
          mi sit amet, molestie dui. Suspendisse sed laoreet odio, sit amet gravida nunc. Duis semper, nisl in lobortis eleifend,
          metus nunc consequat enim, ut elementum elit diam sed augue. Nunc sed dui semper, convallis velit ac, scelerisque
          leo. Mauris semper neque et cursus blandit. Nunc luctus arcu ligula, a semper quam porttitor eget.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ornare luctus. Sed at mi placerat, efficitur
          mi sit amet, molestie dui. Suspendisse sed laoreet odio, sit amet gravida nunc. Duis semper, nisl in lobortis eleifend,
          metus nunc consequat enim, ut elementum elit diam sed augue. Nunc sed dui semper, convallis velit ac, scelerisque
          leo. Mauris semper neque et cursus blandit. Nunc luctus arcu ligula, a semper quam porttitor eget.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ornare luctus. Sed at mi placerat, efficitur
          mi sit amet, molestie dui. Suspendisse sed laoreet odio, sit amet gravida nunc. Duis semper, nisl in lobortis eleifend,
          metus nunc consequat enim, ut elementum elit diam sed augue. Nunc sed dui semper, convallis velit ac, scelerisque
          leo. Mauris semper neque et cursus blandit. Nunc luctus arcu ligula, a semper quam porttitor eget.</p>
      </div>
    </div>
  </div>
  <div class="belt">
    <div class="belt__image image__fade" style="background-image: url('/assets/images/whatwedo2.jpg')"></div>
    <aside class="belt__callout belt--blue healthier-athletes">
      <div class="belt__callout__title">
        Lorem ipsum</div>
      <div class="belt__callout__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ornare luctus. Sed at mi placerat, efficitur
          mi sit amet, molestie dui.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ornare luctus. Sed at mi placerat, efficitur
          mi sit amet, molestie dui. Suspendisse sed laoreet odio, sit amet gravida nunc. Duis semper, nisl in lobortis eleifend,
          metus nunc consequat enim, ut elementum elit diam sed augue.</p>
      </div>
    </aside>
  </div>
  <div class="statement__container">
    <div class="statement__content">
      <div class="statement__content__title">
        Lorem ipsum dolor sit amet</div>
      <div class="statement__content__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ornare luctus. Sed at mi placerat, efficitur
          mi sit amet, molestie dui. Suspendisse sed laoreet odio, sit amet gravida nunc. Duis semper, nisl in lobortis eleifend,
          metus nunc consequat enim, ut elementum elit diam sed augue. Nunc sed dui semper, convallis velit ac, scelerisque
          leo. Mauris semper neque et cursus blandit. Nunc luctus arcu ligula, a semper quam porttitor eget.</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ornare luctus. Sed at mi placerat, efficitur mi
          sit amet, molestie dui. Suspendisse sed laoreet odio, sit amet gravida nunc. Duis semper, nisl in lobortis eleifend,
          metus nunc consequat enim, ut elementum elit diam sed augue. Nunc sed dui semper, convallis velit ac, scelerisque
          leo. Mauris semper neque et cursus blandit. Nunc luctus arcu ligula, a semper quam porttitor eget.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ornare luctus. Sed at mi placerat, efficitur
          mi sit amet, molestie dui. Suspendisse sed laoreet odio, sit amet gravida nunc. Duis semper, nisl in lobortis eleifend,
          metus nunc consequat enim, ut elementum elit diam sed augue. Nunc sed dui semper, convallis velit ac, scelerisque
          leo. Mauris semper neque et cursus blandit. Nunc luctus arcu ligula, a semper quam porttitor eget.
        </p>
      </div>
    </div>
  </div>