<div class="who-we-are__container">
  <div class="main__container">
    <div class="main__content">
      <div class="main__content__container">
        <div class="main__content__left">
          <div class="main__content__title">Who We Are</div>
          <div class="main__content__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed diam eget nulla pharetra auctor. Donec vel neque
            sagittis, efficitur eros at, fermentum tortor. Pellentesque bibendum cursus neque. Quisque facilisis purus pharetra,
            ullamcorper quam non, cursus elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae commodo
            dui. Morbi neque dui, sollicitudin elementum molestie in, commodo in ligula. Maecenas porta, erat et euismod
            blandit, lacus diam porta velit, venenatis ornare diam nisi vel metus. Cras libero enim, varius et porttitor
            sed, viverra quis odio. Mauris molestie leo maximus laoreet rutrum. Ut mollis interdum eros quis pellentesque.
            Phasellus dignissim ante id iaculis tincidunt. Integer quis feugiat lacus. Pellentesque feugiat ligula non mauris
            consectetur hendrerit. Mauris accumsan arcu sit amet lobortis finibus. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.</div>
        </div>
        <img class="main__content__logo image__fade" src="/assets/images/special-olympics-logo.svg" alt="Special Olympics Logo">
      </div>
    </div>
  </div>
  <soci-menu [menuNavItems]="menuNavItems"></soci-menu>
  <div class="temp-filler">
    <router-outlet></router-outlet>
  </div>
</div>