<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">FAQ</div>
      </div>
    </div>
  </div>
</div>
<div class="faq__container">
  <div class="faq__links">
  <div class="faq__grid">
    <div class="faq__grid__column">
      <div class="faq__grid__column__title">General</div>
      <div class="faq__grid__row">
        <div (click)="scroll($event)">2017 Dates & Locations</div>
      </div>
      <div class="faq__grid__row">
        <a href="#stay-informed">Stay Informed</a>
      </div>
      <div class="faq__grid__row">
        <a href="#content">Content</a>
      </div>
    </div>
    <div class="faq__grid__column">
      <div class="faq__grid__column__title">General</div>
      <div class="faq__grid__row">
        <a href="#2017-dates-locations">2017 Dates & Locations</a>
      </div>
      <div class="faq__grid__row">
        <a href="#stay-informed">Stay Informed</a>
      </div>
      <div class="faq__grid__row">
        <a href="#content">Content</a>
      </div>
    </div>
    <div class="faq__grid__column">
      <div class="faq__grid__column__title">General</div>
      <div class="faq__grid__row">
        <a href="#2017-dates-locations">2017 Dates & Locations</a>
      </div>
      <div class="faq__grid__row">
        <a href="#stay-informed">Stay Informed</a>
      </div>
      <div class="faq__grid__row">
        <a href="#content">Content</a>
      </div>
    </div>
  </div>
  </div>
  <div class="faq__section__container">

    <div class="faq__section__title">General</div>
    <div id="2017-dates-locations" class="faq__statement">
      <div class="faq__statement__title">2017 Dates & Locations</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus feugiat tortor. Aliquam metus quam, imperdiet in imperdiet ut, bibendum quis neque. Donec fermentum odio eu aliquam tristique. Maecenas et ex faucibus, ultrices libero sit amet, congue nibh. Duis vitae euismod dolor. Phasellus elementum nisl nec semper volutpat. Nulla facilisi. Quisque ut est accumsan, commodo dolor ut, porta ipsum. Curabitur augue nunc, placerat eu sodales ac, dignissim nec justo. Pellentesque facilisis lorem sit amet justo elementum fermentum. Aliquam venenatis facilisis congue. Donec ante massa, placerat eget laoreet eget, pellentesque ut purus. Sed hendrerit porttitor eros ut condimentum. Sed accumsan lacus nisl, vitae ornare arcu molestie pulvinar. Etiam varius vulputate suscipit. Curabitur ullamcorper leo ut urna imperdiet auctor.</p>
    </div>

    <div id="stay-informed" class="faq__statement">
      <div class="faq__statement__title">Stay Informed</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus feugiat tortor. Aliquam metus quam, imperdiet in imperdiet ut, bibendum quis neque. Donec fermentum odio eu aliquam tristique. Maecenas et ex faucibus, ultrices libero sit amet, congue nibh. Duis vitae euismod dolor. Phasellus elementum nisl nec semper volutpat. Nulla facilisi. Quisque ut est accumsan, commodo dolor ut, porta ipsum. Curabitur augue nunc, placerat eu sodales ac, dignissim nec justo. Pellentesque facilisis lorem sit amet justo elementum fermentum. Aliquam venenatis facilisis congue. Donec ante massa, placerat eget laoreet eget, pellentesque ut purus. Sed hendrerit porttitor eros ut condimentum. Sed accumsan lacus nisl, vitae ornare arcu molestie pulvinar. Etiam varius vulputate suscipit. Curabitur ullamcorper leo ut urna imperdiet auctor.</p>
    </div>
  </div>
</div>
