<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">FAQ</div>
      </div>
    </div>
  </div>
</div>
<div class="faq__container">
  <div class="faq__links">
    <div class="faq__grid">
      <div class="faq__grid__column">
        <div class="faq__grid__column__title">General</div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="general__about-special-olympics">About Special Olympics</a>
        </div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="general__involvement">How many people are involved in Special Olympics?</a>
        </div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="general__mission">What is Special Olympics' mission?</a>
        </div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="general__eligibility">Who is eligible to participate in Special Olympics?</a>
        </div>
      </div>
      <div class="faq__grid__column">
        <div class="faq__grid__column__title">People</div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="people__eunice-kennedy">Who was Eunice Kennedy Shriver?</a>
        </div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="people__who-leads">Who leads Special Olympics now?</a>
        </div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="people__rosemary-kennedy">Who was Rosemary Kennedy?</a>
        </div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="people__sargent-shriver">Who was Sargent Shriver?</a>
        </div>
      </div>
      <div class="faq__grid__column">
        <div class="faq__grid__column__title">Special</div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="special__oath">What is the Special Olympics athlete oath?</a>
        </div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="special__oath-origin">What is the origin of the Special Olympics athlete oath?</a>
        </div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="special__special-term">Why use the term "Special"?</a>
        </div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="special__disabilities">Can individuals with profound disabilities participate in Special Olympics?</a>
        </div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="special__divisioning">What is divisioning?</a>
        </div>
        <div class="faq__grid__row">
          <a [routerLink]="['./']" fragment="special__logo">What does the Special Olympics logo signify?</a>
        </div>
      </div>
    </div>
  </div>
  <div class="faq__section__container">
    <div class="faq__section__title">General</div>
    <div id="general__about-special-olympics" class="faq__statement">
      <div class="faq__statement__title">About Special Olympics</div>
      <p>Special Olympics is a global organization that changes lives by promoting understanding, acceptance and inclusion among
        people with and without intellectual disabilities. We unleash the power of the human spirit through the transformative
        power and joy of sports, every day around the world. </p>
      <p>Through year-round sports, health, education and community building, we change the lives of people with intellectual
        disabilities in 172 countries. We are providing opportunities and helping fight the intolerance, injustice, inactivity
        and social isolation faced by our 4.9 milllion athletes. </p>
      <p>Founded in 1968 by Eunice Kennedy Shriver, Special Olympics provides people with intellectual disabilities continuing
        opportunities to realize their potential, develop physical fitness, demonstrate courage and experience joy and friendship.
        Everyone involved in Special Olympics -- including over 1 million coaches and volunteers -- also benefits as we strive
        together for excellence and appreciation of all different abilities.</p>
    </div>

    <div id="general__involvement" class="faq__statement">
      <div class="faq__statement__title">How many people are involved in Special Olympics?</div>
      <p>There are 4.9 million athletes with intellectual disabilities involved in Special Olympics programs around the world.
        In addition, we have more than 1 million coaches and volunteers. We have 223 national and U.S. Programs in 172 countries.</p>
    </div>

    <div id="general__mission" class="faq__statement">
      <div class="faq__statement__title">What is Special Olympics' mission?</div>
      <p>To provide year-round sports training and athletic competition in a variety of Olympic-type sports for children and
        adults with intellectual disabilities, giving them continuing opportunities to develop physical fitness, demonstrate
        courage, experience joy and participate in a sharing of gifts, skills and friendship with their families, other Special
        Olympics athletes and the community.</p>
    </div>
    <div id="general__eligibility" class="faq__statement">
      <div class="faq__statement__title">Who is eligible to participate in Special Olympics?</div>
      <p>To be eligible to participate in Special Olympics, you must be at least 8 years old and identified by an agency or
        professional as having one of the following conditions: intellectual disabilities, cognitive delays as measured by
        formal assessment, or significant learning or vocational problems due to cognitive delay that require or have required
        specially designed instruction. The Special Olympics Young Athletes™ program was created for children with intellectual
        disabilities ages 2 through 7.</p>
    </div>
  </div>

  <div class="faq__section__container">
    <div class="faq__section__title">People</div>
    <div id="people__eunice-kennedy" class="faq__statement">
      <div class="faq__statement__title">Who was Eunice Kennedy Shriver?</div>
      <p>Eunice Mary Kennedy (1921-2009) was born in Brookline, Mass., USA, the fifth of nine children of Joseph P. and Rose
        Kennedy. After graduating from college, she worked for the U.S. State Departmentin Washington, D.C., and later became
        a social worker at the Penitentiary for Women in Alderson, West Va. She later moved to Chicao, Ill., where she worked
        with the House of the Good Shepherd and the Chicago Juvenile Court.</p>
      <p>Starting in the 1950s, Eunice Kennedy Shriver pushed for research and programs that would benefit people with intellectual
        disabilities. She was the driving force behind President John F. Kennedy's White House panel on people with intellectual
        disabilities. For this neglected population, Shriver said, "the years of indifference and neglect, the years of callous
        cynicsm and entrenched prejudice are drawing to a close. The years of research and experiment...are upon us now with
        all their promise and challenge."</p>
      <p>She continued this pioneering work as director of the Joseph P. Kennedy Jr. Foundation. In 1962, she began an experimental
        camp in her backyard for young people with intellectual disabilities, which continued throughout the 1960s. Her work
        eventually grew into the Special Olympics Movement, which launched at the first Special Olympics International Games
        on July 20, 1968.</p>
    </div>
    <div id="people__who-leads" class="faq__statement">
      <div class="faq__statement__title">Who leads Special Olympics now?</div>
      <p>Mary Davis is Chief Executive Officer (CEO) of Special Olympics, leading the organization and all of its functions
        in seeking to fulfill the mission and the achievement of the goals of the strategic plan. Based at the Special Olympics
        global headquarters in Washington D.C., she leads an international team of more than 200 professionals throughout
        the world who are implementing sports, health, education and community building programming in 169 countries every
        day around the world.</p>
    </div>
    <div id="people__rosemary-kennedy" class="faq__statement">
      <div class="faq__statement__title">Who was Rosemary Kennedy?</div>
      <p>Rosemary Kennedy (1918-2005) was the oldest daughter of Joseph P. and Rose Kennedy. </p>
      <p>Rosemary was born with intellectual disabilities and was known to have talents in many areas, especially sports. One
        of her most frequent companions was her sister, Eunice Kennedy, who was three years younger.</p>
      <p>Rosemary was one of the inspirations for Eunice's interest in creating a better world for people with intellectual
        disabilities. Rosemary grew up during a time when people did not talk about intellectual disabilities. When Eunice
        wrote a 1962 article in the Saturday Evening Post about Rosemary and the Kennedy family's struggles finding her proper
        care, it became known as a "watershed" event in changing public attitudes toward people with intellectual disabilities.</p>
    </div>
    <div id="people__sargent-shriver" class="faq__statement">
      <div class="faq__statement__title">Who was Sargent Shriver?</div>
      <p>From the Peace Corps to Head Start to Special Olympics and beyond, Robert Sargent "Sarge" Shriver (1915-2011) worked
        to give everyone the chance to reach their full potential. He was a World War II veteran of the U.S. Navy who earned
        a Purple Heart for wounds received during the bombardment of Guadalcanal. He married Eunice Kennedy in 1953.</p>
      <p>Shriver was a key strategist during the presidential campaign of his brother-in-law, John F. Kennedy. During the Kennedy
        and Johnson presidential administrations, Shriver founded several vital programs and agencies, including the Peace
        Corps, Head Start, VISTA and the Job Corps, among others. He later served as President of the Special Olympics movement,
        as well as Chairman and Chairman of the Board Emeritus. With his leadership, Special Olympics expanded into the Middle
        East, Far East, the former Soviet Republic and elsewhere.</p>
    </div>
  </div>
  <div class="faq__section__container">
    <div class="faq__section__title">Special</div>
    <div id="special__oath" class="faq__statement">
      <div class="faq__statement__title">What is the Special Olympics athlete oath?</div>
      <p>"Let me win. But if I cannot win, let me be brave in the attempt."</p>
    </div>
    <div id="special__oath-origin" class="faq__statement">
      <div class="faq__statement__title">What is the origin of the Special Olympics athlete oath?</div>
      <p>Eunice Kennedy Shriver jotted down the Special Olympics athlete oath on the morning of July 20, 1968 -- just ahead
        of the opening of the very first Special Olympics International Games. She recited them at a brief Opening Ceremony
        at Chicago's Soldier Field before the start of competition.</p>
      <p>The words emphasize the importance of effort -- and trying for one's personal best. Nearly 50 years later, these words
        resonate with Special Olympics athletes: "Let me win. But if I cannot win, let me brave in the attempt."</p>
    </div>
    <div id="special__special-term" class="faq__statement">
      <div class="faq__statement__title">Why use the term "Special"?</div>
      <p>In the 1960s, when Special Olympics was founded, "retarded" was the acceptable term to describe people with intellectual
        disabilities. This was a time when people with intellectual disabilities were routinely institutionalized because
        their gifts and talents were not recognized.</p>
      <p>That's why Eunice Kennedy Shriver wanted to use language that was positive -- language that would help set an upbeat
        tone. There were many conversations about words that could best describe an exceptional group of people. Eunice Kennedy
        Shriver saw the adjective "special" as a way to define the unique gifts of adults and children with intellectual
        disabilities. Starting with the very first Special Olympics International Games in 1968, she wanted to dwell on our
        athletes' abilities, not disabilities.</p>
    </div>
    <div id="special__disabilities" class="faq__statement">
      <div class="faq__statement__title">Can individuals with profound disabilities participate in Special Olympics?</div>
      <p>Yes, through Special Olympics Motor Activities Training Program (MATP), developed by physical educators, physical therapists
        and recreation therapists. MATP emphasizes training and participation rather than competition.</p>
    </div>
    <div id="special__divisioning" class="faq__statement">
      <div class="faq__statement__title">What is divisioning?</div>
      <p>In Special Olympics competitions, athletes of all ability levels are encouraged to participate, and every athlete is
        recognized for his or her performance. Through a process called divisioning, Special Olympics competitions are structured
        so that athletes compete with other athletes of similar gender, age and ability in equitable divisions. This makes
        for exciting competitions!</p>
    </div>
    <div id="special__logo" class="faq__statement">
      <div class="faq__statement__title">What does the Special Olympics logo signify?</div>
      <p>The Special Olympics logo depicts five figures in a unifying circle, symbolizing our global presence. </p>
      <p>The figures have arms in a lowered position, recalling the time when many people were unaware of the talents and abilities
        of adults and children with intellectual disabilities -- a time before the founding of Special Olympics. </p>
      <p>The straight arms describe a greater equality and outreach. The raised arms represent "joy", and continued realization
        of ultimate goals.</p>
    </div>
  </div>
</div>
