<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">{{ pageTitle }}</div>
      </div>
    </div>
  </div>
</div>
<div class="event-publisher__container">
  <form class="event-publisher__form" [formGroup]="eventForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="event-publisher__form__item">
      <md-select class="form__control--default-width" placeholder="Type of event" formControlName="eventType">
        <md-option *ngFor="let eventType of eventTypes" [value]="eventType">
          {{ eventType }}
        </md-option>
      </md-select>
    </div>
    <div class="event-publisher__form__item">
      <md-input-container class="form__control--default-width">
        <input mdInput [mdDatepicker]="startDatepicker" placeholder="Choose a start date" formControlName="startDate">
        <md-datepicker-toggle mdSuffix [for]="startDatepicker"></md-datepicker-toggle>
      </md-input-container>
      <md-datepicker #startDatepicker></md-datepicker>
    </div>
    <div class="event-publisher__form__item">
      <md-input-container class="form__control--default-width">
        <input mdInput [mdDatepicker]="endDatepicker" placeholder="Choose an end date" formControlName="endDate">
        <md-datepicker-toggle mdSuffix [for]="endDatepicker"></md-datepicker-toggle>
      </md-input-container>
      <md-datepicker #endDatepicker></md-datepicker>
    </div>
    <div class="event-publisher__form__item">
      <md-select class="form__control--default-width" placeholder="Start time" formControlName="startTime">
        <md-option *ngFor="let eventTime of eventTimes" [value]="eventTime">
          {{ eventTime }}
        </md-option>
      </md-select>
    </div>
    <div class="event-publisher__form__item">
      <md-select class="form__control--default-width" placeholder="End time" formControlName="endTime">
        <md-option *ngFor="let eventTime of eventTimes" [value]="eventTime">
          {{ eventTime }}
        </md-option>
      </md-select>
    </div>
    <div class="event-publisher__form__item">
      <md-select class="form__control--default-width" placeholder="Status of event" formControlName="eventStatus">
        <md-option *ngFor="let eventStatus of eventStatuses" [value]="eventStatus">
          {{ eventStatus }}
        </md-option>
      </md-select>
    </div>
    <div class="event-publisher__form__item">
      <md-input-container class="form__control--100-percent-width">
        <input mdInput placeholder="Title" formControlName="title">
      </md-input-container>
    </div>
    <div class="event-publisher__form__item">
      <md-input-container class="form__control--100-percent-width">
        <textarea mdInput placeholder="Description" formControlName="description" rows="3"></textarea>
      </md-input-container>
    </div>
    <div class="event-publisher__form__item">
      <md-input-container class="form__control--default-width">
        <input mdInput placeholder="Venue name" formControlName="venueName">
      </md-input-container>
    </div>
    <div class="event-publisher__form__item">
      <md-input-container class="form__control--default-width">
        <input mdInput placeholder="Location" formControlName="location">
      </md-input-container>
    </div>
    <div class="event-publisher__form__buttons">
      <button class="event-publisher__form__button event-publisher__form__button__cancel" type="reset" (click)="onCancelClicked()"
        md-button>Cancel</button>
      <button class="event-publisher__form__button event-publisher__form__button__submit" type="submit" md-button>{{submitButtonText}}</button>
    </div>
  </form>
</div>
