<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">{{ pageTitle }}</div>
      </div>
    </div>
  </div>
</div>
<div class="event-publisher__container">
  <form class="event-publisher__form" [formGroup]="eventForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="event-publisher__form__item">
      <mat-select class="form__control--default-width" placeholder="Type of event" formControlName="eventType">
        <mat-option *ngFor="let eventType of eventTypes" [value]="eventType">
          {{ eventType }}
        </mat-option>
      </mat-select>
    </div>
    <div class="event-publisher__form__item">
      <mat-input-container class="form__control--default-width">
        <input matInput [matDatepicker]="startDatepicker" placeholder="Choose a start date" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
      </mat-input-container>
      <mat-datepicker #startDatepicker></mat-datepicker>
    </div>
    <div class="event-publisher__form__item">
      <mat-input-container class="form__control--default-width">
        <input matInput [matDatepicker]="endDatepicker" placeholder="Choose an end date" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
      </mat-input-container>
      <mat-datepicker #endDatepicker></mat-datepicker>
    </div>
    <div class="event-publisher__form__item">
      <mat-select class="form__control--default-width" placeholder="Start time" formControlName="startTime">
        <mat-option *ngFor="let eventTime of eventTimes" [value]="eventTime">
          {{ eventTime }}
        </mat-option>
      </mat-select>
    </div>
    <div class="event-publisher__form__item">
      <mat-select class="form__control--default-width" placeholder="End time" formControlName="endTime">
        <mat-option *ngFor="let eventTime of eventTimes" [value]="eventTime">
          {{ eventTime }}
        </mat-option>
      </mat-select>
    </div>
    <div class="event-publisher__form__item">
      <mat-select class="form__control--default-width" placeholder="Status of event" formControlName="eventStatus">
        <mat-option *ngFor="let eventStatus of eventStatuses" [value]="eventStatus">
          {{ eventStatus }}
        </mat-option>
      </mat-select>
    </div>
    <div class="event-publisher__form__item">
      <mat-input-container class="form__control--100-percent-width">
        <input matInput placeholder="Title" formControlName="title">
      </mat-input-container>
    </div>
    <div class="event-publisher__form__item">
      <mat-input-container class="form__control--100-percent-width">
        <textarea matInput placeholder="Description" formControlName="description" rows="3"></textarea>
      </mat-input-container>
    </div>
    <div class="event-publisher__form__item">
      <input type="file" name="fileUpload" (change)="onFileUploadChange($event.target.files)">
    </div>
    <div class="event-publisher__form__item">
      <mat-input-container class="form__control--100-percent-width">
        <input matInput placeholder="Location" formControlName="locationPlaceName" #search>
      </mat-input-container>
      <agm-map [latitude]="sociLocation.latitude" [longitude]="sociLocation.longitude" [scrollwheel]="true" [mapTypeControl]="true" [zoom]="zoom">
        <agm-marker [latitude]="sociLocation.latitude" [longitude]="sociLocation.longitude"></agm-marker>
      </agm-map>
    </div>
    <div class="event-publisher__form__buttons">
      <button class="event-publisher__form__button event-publisher__form__button__cancel" type="reset" (click)="onCancelClicked()"
        mat-button>Cancel</button>
      <button class="event-publisher__form__button event-publisher__form__button__submit" type="button" [disabled]="eventForm.invalid" (click)="onSubmit()" mat-button>{{submitButtonText}}</button>
    </div>
  </form>
</div>
<soci-dialog *ngIf="isDecisionDialogOpen" [isDialogCentered]="true">
  <div class="decision__dialog__container">
    <div class="decision__dialog__header">
      <div class="decision__dialog__header__text">Confirm</div>
    </div>
    <div class="decision__dialog__content">
      <div class="decision__dialog__content__message">Are you sure you want to update this event?</div>
      <div class="decision__dialog__content__buttons">
        <button class="decision__dialog__content__button" mat-button (click)="onDialogCancelClicked()">Cancel</button>
        <button class="decision__dialog__content__button decision__dialog__content__button__update" mat-button (click)="onDialogUpdateClicked()">Continue</button>
      </div>
    </div>
  </div>
</soci-dialog>
