<div class="get-involved__container">
  <div class="main__container">
    <div class="main__content">
      <div class="main__content__container">
        <div class="main__content__left">
          <div class="main__content__title">Get Involved</div>
        </div>
      </div>
    </div>
  </div>
  <div class="soci-menu--mobile" sociMenuSticky>
    <div class="get-involved__menu__container">
      <div class="get-involved__menu__menu-trigger">
        <div class="get-involved__menu__menu-trigger__text" [matMenuTriggerFor]="menu">Menu</div>
        <mat-icon class="get-involved__menu__menu-trigger__icon">arrow_drop_down</mat-icon>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
    <div class="get-involved__menu__container__spacer"></div>
  </div>
  <div class="temp-filler"></div>
</div>
