<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">Get Involved</div>
        <div class="main__content__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia efficitur facilisis. Fusce in commodo ex.
          In dolor libero, tempor et pellentesque a, pulvinar ut neque. Aliquam gravida justo sit amet risus sodales vestibulum.
          Cras suscipit lorem maximus, vehicula est et, semper nunc. Suspendisse facilisis sodales maximus. Lorem ipsum dolor
          sit amet, consectetur adipiscing elit. Praesent congue neque vitae elit sodales blandit. Praesent fringilla augue
          in velit suscipit facilisis. Ut rutrum, turpis vitae placerat cursus, enim ipsum iaculis nulla, eu gravida libero
          tortor quis massa. Fusce a viverra massa. Nulla commodo volutpat felis eget tincidunt. Pellentesque habitant morbi
          tristique senectus et netus et malesuada fames ac turpis egestas. Morbi tortor metus, euismod ut rhoncus sed, rutrum
          ac purus.</div>
      </div>
      <img class="main__content__logo" src="/assets/images/special-olympics-logo.svg" alt="Special Olympics Logo">
    </div>
  </div>
</div>