<!--<div class="story__header">
  <div *ngIf="isGoBackVisible" class="back-arrow__container" (click)="onBackArrowClicked()">
    <img class="back-arrow__icon" src='/assets/images/arrow-back.svg' />
  </div>
</div>
<div class="story__header__placeholder"></div>
<div class="story__images">
  <div class="story__images__container" *ngFor="let image of story.documentUrls | limitTo: 4">
    <div class="story__content__image" [ngStyle]="{'background-image':'url(' + image + ')'}"
    (click)="onImageClicked(image)"></div>
  </div>
</div>
<div class="story__container">
  <div class="story_content">
    <div class="story__content__title">{{story.title}}</div>
    <div class="story__content__author">Millsy Pacino</div>
    <div class="story__content__date">{{story.created | date:'fullDate'}}</div>
    <div class="story__content__body">{{story.body}}</div>
  </div>
</div>-->
