<div class="belt">
  <div class="belt__image donations__belt__image" style="background-image: url('/assets/images/donate/group.png')">
    <div class="belt__image__text">
      <div class="belt__image__text__title">Together</div>
      <div class="belt__image__text__post-title">we can raise money for our Special Olympic's athletes</div>
    </div>
    <button mat-button class="donate__button" routerLink="give">
      <div class="donate__button__text">Give</div>
    </button>
  </div>
</div>
<div class="statement__container">
  <div class="statement__content">
    <div class="statement__content__title">How Your Gift Helps</div>
    <div class="statement__content__body">
      <p>For a Special Olympics athlete, a finish line is just the beginning. Through sports, athletes learn motivation, discipline,
        and hard work. They build confidence and skills to succeed in sports and in life.</p>
      <p>Just think what that will mean for someone like (SOCI athlete). While attending school, (SOCI athlete) often felt alone,
        misunderstood, and left out though she tried to "fit in.</p>
      <p>(SOCI athlete) has been active in Special Olymypics and recently attended one of our Global Messenger training sessions
        for athletes to develop public speaking skills. Her mother, Michelle, had this to say: "So many opportunities pass
        (SOCI athlete) by. Not fitting in has been our burden to bare. The fellowship among Special Olympics is welcoming.
        Just one ally can make all the difference in the world."</p>
      <p>Special Olympics transforms lives like (SOCI athlete)'s every day. But for every athlete, there are 48 more people
        with intellectual disabilities whom we have not yet reached. We want to give more people a chance to "fit in," succeed,
        to hear cheers, to experience joy.</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>