/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
html,
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #FAFAFA;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
