<div class="belt">
  <div class="belt__image image__fade" style="background-image: url('/assets/images/giving.jpg')"></div>
</div>
<div class="main__container">
  <div class="main__content">
    <div class="main__content__container">
      <div class="main__content__left">
        <div class="main__content__title">Fundraisers</div>
        <div class="main__content__body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed elit at mauris ultrices iaculis. Maecenas ultrices sem
          sed magna accumsan, ut ullamcorper ex lacinia. Aliquam erat volutpat. Suspendisse dignissim tortor in efficitur
          lobortis.
        </div>
      </div>
    </div>
  </div>
</div>